label#securityLevel-customWarning {
  border-radius: 4px;
  background-color: var(--yellow-50);
  color: black;
  font-size: 1em;
  height: 1.6em;
  padding: 0.4em 0.5em;
}

radiogroup#securityLevel-radiogroup radio {
  font-weight: bold;
}

vbox#securityLevel-vbox-standard,
vbox#securityLevel-vbox-safer,
vbox#securityLevel-vbox-safest {
  margin-top: 0.4em;
}

vbox#securityLevel-vbox-standard description.indent,
vbox#securityLevel-vbox-safer description.indent,
vbox#securityLevel-vbox-safest description.indent {
  margin-inline-start: 0 !important;
}
