/* Onion pattern */

.onion-pattern-container {

  flex: auto;           /* grow to consume remaining space on the page */
  display: flex;
  margin: 0 auto;
  width: 100%;
  /* two onions tall, 4x the radius */
  height: calc(4 * var(--onion-radius));
  max-height: calc(4 * var(--onion-radius));
  min-height: calc(4 * var(--onion-radius));
  direction: ltr;
}

.onion-pattern-crop {
  height: 100%;
  width: 100%;

  -moz-context-properties: fill;
  fill: var(--onion-color, currentColor);
  /* opacity of the entire div, not context-opacity */
  opacity: var(--onion-opacity, 1);

  background-image: url("chrome://browser/skin/onionPattern.svg");
  background-repeat: repeat;
  background-attachment: local;
  background-position: center;
  /* svg source is 6 onions wide and 2 onions tall */
  background-size: calc(6 * 2 * var(--onion-radius)) calc(2 * 2 * var(--onion-radius));;
}