@import url("chrome://branding/content/tor-styles.css");

#category-tor > .category-icon {
  list-style-image: url("chrome://browser/content/torpreferences/torPreferencesIcon.svg");
}

/* Connect Message Box */

#torPreferences-connectMessageBox {
  display: block;
  position: relative;

  width: auto;
  min-height: 32px;
  border-radius: 4px;
  padding: 4px;
}

#torPreferences-connectMessageBox.hidden {
  display: none;
}

#torPreferences-connectMessageBox.error {
  background-color: var(--red-60);
  color: white;
}

#torPreferences-connectMessageBox.warning {
  background-color: var(--purple-50);
  color: white;
}

#torPreferences-connectMessageBox table {
  border-collapse: collapse;
  width: 100%;
}

#torPreferences-connectMessageBox td {
  vertical-align: top;
  padding: 0px;
}

#torPreferences-connectMessageBox td:first-child {
  width: 24px;
}

#torPreferences-connectMessageBox-icon {
  display: block;
  width: 16px;
  height: 16px;
  padding: 4px;

  mask-repeat: no-repeat !important;
  mask-size: 16px !important;
  mask-position: 4px 4px !important;
}

#torPreferences-connectMessageBox.error #torPreferences-connectMessageBox-icon
{
  mask: url("chrome://browser/skin/onion-slash.svg");
  background-color: white;
}

#torPreferences-connectMessageBox.warning #torPreferences-connectMessageBox-icon
{
  mask: url("chrome://browser/skin/onion.svg");
  background-color: white;
}

#torPreferences-connectMessageBox-message {
  display: block;
  line-height: 16px;
  font-size: 1.0em;
  margin-right: 8px;
  padding-left: 4px!important;
  padding-top: 4px!important;
}

#torPreferences-connectMessageBox-button {
  display: block;
  width: auto;
  height: 24px;
  line-height: 24px;
  min-height: 24px;
  max-height: 24px;
  min-width: 0px;
  margin: 0px;

  border-radius: 4px;
  border: 0;
  padding: 0px 1.25em;
  margin-left: auto;
  margin-right: 0px;

  font-size: 0.9em;
  font-weight: 600;
  white-space: nowrap;

  color: white;
}

#torPreferences-connectMessageBox.error #torPreferences-connectMessageBox-button {
  background-color: var(--red-70);
}

#torPreferences-connectMessageBox.error #torPreferences-connectMessageBox-button:hover {
  background-color: var(--red-80);
}

#torPreferences-connectMessageBox.error #torPreferences-connectMessageBox-button:active {
  background-color: var(--red-90);
}

#torPreferences-connectMessageBox.warning #torPreferences-connectMessageBox-button {
  background-color: var(--purple-70);
}

#torPreferences-connectMessageBox.warning #torPreferences-connectMessageBox-button:hover {
  background-color: var(--purple-80);
}

#torPreferences-connectMessageBox.warning #torPreferences-connectMessageBox-button:active {
  background-color: var(--purple-90);
}

/* Advanced Settings */

#torPreferences-advanced-grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.torPreferences-advanced-checkbox-container {
  grid-column: 1 / 3;
}

#torPreferences-localProxy-textboxAddress,
#torPreferences-localProxy-textboxUsername,
#torPreferences-localProxy-textboxPassword,
#torPreferences-advanced-textboxAllowedPorts {
  -moz-box-flex: 1;
}

hbox#torPreferences-torDaemon-hbox {
  margin-top: 20px;
}

description#torPreferences-requestBridge-description {
  /*margin-bottom: 1em;*/
  min-height: 2em;
}

image#torPreferences-requestBridge-captchaImage {
  margin: 1em;
  min-height: 125px;
}

button#torPreferences-requestBridge-refreshCaptchaButton {
  min-width: initial;
}

dialog#torPreferences-requestBridge-dialog > hbox {
  margin-bottom: 1em;
}

/*
 Various elements that really should be lining up don't because they have inconsistent margins
*/
.torMarginFix {
  margin-left : 4px;
  margin-right : 4px;
}

/*
  This hbox is hidden by css here by default so that the
  xul dialog allocates enough screen space for the error message
  element, otherwise it gets cut off since dialog's overflow is hidden
*/
hbox#torPreferences-requestBridge-incorrectCaptchaHbox {
  visibility: hidden;
}

image#torPreferences-requestBridge-errorIcon {
  list-style-image: url("chrome://browser/skin/warning.svg");
}

groupbox#torPreferences-bridges-group textarea {
  white-space: pre;
  overflow: auto;
}

textarea#torPreferences-torDialog-textarea {
  -moz-box-flex: 1;
  font-family: monospace;
  font-size: 0.8em;
  white-space: pre;
  overflow: auto;
  /* 10 lines */
  min-height: 20em;
}